
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    // background-color: #f3f3f3;
    font-weight: 300;
    font-size: 1rem;
    font-family: 'Acme', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}
.container{
    max-width: 80%;
    margin: auto;
}
a{
    text-decoration: none;
}
img{
    border-radius:4px;
    max-height:200px;
    max-width:250px;
}
ul{
    list-style-type: none;
    float: right;
    li{
        display: inline-block;
        padding: 0 0.3rem;
        margin-top: 20px;
    }
}
#tri{
    padding: 2rem;
}
.form-control{
    margin-bottom: 1.3rem;
    width: 100%;
    border-radius: 4px;
    background-color: #181818;
    border: 1px solid #555;
    color: #ccc;
    padding: 0.5rem 1rem;
    line-height: 1.3rem;
}
.primary-btn{
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 0;
    border-radius: 2px;
    font-weight: 500;
    background-color: #f96816;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
    width: 100%;
    &:hover{
        background-color: #ff7b39 ;
    }
}
.secondary-btn{
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 1px solid #f96816 ;
    border-radius: 2px;
    font-weight: 500;
    background-color: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
    // width: 100%;
    &:hover{
        border-color: #f4f4f4 ;
        color: #ff7b39 ;
    }
}
header{
    height:60px;
    background-color:#35424a;
    border-bottom: #ff7b39 3px solid;
    a{
        color:#fff;
        &:hover{
            text-decoration: underline;
        }
    }
    .grids{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        h1{
            padding: 0;
            margin-top: 0;
        }
    }
    /* Dropdown Button */
.dropbtn {
    // background-color: #4CAF50;
    background-color: rgb(55,100,144);
    border-radius: 5px;
    // color: white;
    color:#ff7b39;
    padding: 6px 12px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    border-radius: 5px;
    position: absolute;
    // background-color: #ff7b39;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100001;
    .primary-btn{
        min-width:100%;
        height: 100%;
        background-color: rgb(55,100,144);
        border: none;
        padding: 1.5rem 1.7rem;
    }
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 100001;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    //   background-color: #ff7b39;
    background-color: rgb(55,100,144);
      z-index: 99;
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
}
#app{
    min-height: 80vh;
    // 
    overflow: hidden;
}
#add{
    margin-top: 4vh;
}
.leaflet-container {
    height: 80vh;
    width: 100%;
  }
#wrapper{
    // background-color: #181818;
    background-color: rgb(55,100,144);
    color: #fff;
    height: 80vh;
    display: flex;
    flex-direction: row;
    #left{
        display: flex;
        flex-direction: column;
        flex: 4;
        align-items: center;
        justify-content: center;
        .logo{
            margin-bottom: 3.5rem;
            color:#ff7b39;
            // color:#f783ac;
            text-align: center;
        }
        #sigin{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 80%;
            padding-bottom: 1rem;
            form{
                width: 80%;
                padding-bottom: 3rem;
                label{
                    font-size: 0.9rem;
                    line-height: 2rem;
                    font-weight: 500;
                }
                .primary-btn{
                    width: 100%;
                }
            }
            
        }
    }
    #right{
        flex: 6;
        #showcase{
            display: flex;
            height: 100vh;
            justify-content: center ;
            align-items: center;
            text-align: center;
            .showcase-text{
                font-size: 3rem;
                width: 100%;
                color: #fff;
                margin-bottom: 1.5rem;
            }
            .secondary-btn{
                width: 60%;
                margin: auto;
            }
        }
    }
}

#tripd{
    padding: 2rem;
    p{
        margin-bottom: 0.5rem;
    }
    .image{
        h1{
            color: yellowgreen;
            text-align: center;
            font-size: 2rem;
        }
        p{
            color:green;
            font-size:1.7rem;
        }
    }
    .container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2rem;
        .l{
            .primary-btn{
                background-color: rgb(55,100,144);   
            }
        }
    }
}
#profile{
    padding: 2rem;
    .secondary-btn{
        width: 400px;
        color:#181818;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1rem;
        .profile-d{
            padding:1px;
            p{
            margin-top:1rem;
            margin-bottom: 1rem;
            }
        }
    }
}
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  /* Add some margins for each label */
  .form-inline label {
    margin: 5px 10px 5px 0;
  }
  
  /* Style the input fields */
  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  /* Style the submit button */
  .form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
  }
  
  .form-inline button:hover {
    background-color: royalblue;
  }
#add{
    padding: 2rem;
    .classForm{
        width: 80%;
        margin: auto;
    }
}
#register{
    padding:2rem;
    min-height:90vh;
    .primary-btn{
        width: 30%;
        margin-bottom: 0.5rem;
    }
    h1{
        font-size: 1.2rem;
        text-align: center;
        margin-bottom:0.5rem;
    }
    .title{
        color:green;
        font-size:2rem;
    }
}
#help,#stat{
    padding: 4rem;
    // margin-top: 9rem;
    h1{
        font-size:2rem;
        margin-bottom:1rem;
        color:blue;
    }
}
#modal{
    // margin-top:10rem;
    border-radius:5px;
    .form-inline{
        width:80%;
        margin: auto;
        .form-control{
            width:70%;
            margin: auto;
        }
        .primary-btn{
            width:50%;
            margin:auto;
        }
    }
    
}
#history{
    padding:1rem;
    p{
        margin-top:0.5rem
    }
    .hist{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1.5rem;
    }
    .primary-btn{
        width:30%;
        height: 3rem;
        // margin:auto;
    }
    h1{
        margin-bottom: 1rem;
    }
}
footer{
    padding:2rem;
    background-color: #181818;
    text-align: center;
    color: #f5f5f5;
    p{
        margin-bottom: 0.5rem;
    }
    f{
        color:blueviolet;
    }
}